body {
    font-size: 14px;    
}
.container {
    margin-top: 10px;
}
.col-12 {
    margin-top: 20px;
}
.was-validated .form-control:invalid {
    border-color: blue;
}
.was-validated .form-control:valid {
    border-color: yellow;
}


/* img {
    width: 300px;
} */